.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 250%;
    height: 100%;
    background-color: #0e0e0e;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button3 {
      border-radius: 8px;
}

